.ability-name {
  font-weight: bold;
}

.alt-tank { display: flex; }
  .fuel-cap { order: 1; }
  .alt-fuel { order: 2;
              // margin-left: 1rem;
              display: flex; }

.power-unit { margin-left: 1rem; }
