/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.clear-back { background-color: transparent; }

 .veiled { opacity: 0.0; }

#char-hud-up { display: none; }

body {
  background-image: url("./libertania.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #c0c0c0;
}

.presently { background-color:rgba(0, 255, 0, 1); }

.top-bar li {
  list-style: none;
}
.event-hud { display: flex; }
  .mystery-console { display: flex;
                     order: 1;
                     font-size: 2rem;}
    .party-hud { order: 1;
                 margin-left: 1rem;
    }
    .rules-hud { order: 2;
                 margin-left: 1rem;
    }
    .manifest-hud { order: 3;
                    margin-left: 1rem;
    }
  .user-controls { order: 2;
                   font-size: 2rem;
                   margin-left: 8rem;
                   display: flex;}
    .user-hud-toggle { order: 1; }
    .user-status { order: 2;
                  margin-left: 1rem;}
.char-ops { display: flex; }
  .character-console { display: flex;
                       order: 1; }
    .origin-story-hud { order: 1; }
    .goals-hud { order: 2; }
    .secrets-hud { order: 3; }
    .abilities-hud { order: 4; }
    .connections-hud { order: 5; }
    .notes-hud { order: 6; }
  .sign-out { order: 2; }
