/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
#sea-dragon {
  position: fixed;
  height: 100%;
  width: 100%;
}

.clear-back { background-color: transparent; }

.sign-in {
  position: fixed;
  text-align: center;
  justify-content: center;
  left: 50%;
transform: translate(-60%, 0);
}

.enter-sesh {
  margin: auto;
}

.boat-icon {   margin-top: 6.6rem;
               font-size: 3rem; }

.site-text{ color: #c0c0c0; }

.veiled { opacity: 0.0; }

#char-hud-up { display: none; }

button {
  color: #c0c0c0;
}

.presently {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #a67d2b, 0 0 40px #a67d2b;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #d4af37, 0 0 30px #d4af37, 0 0 40px #d4af37;
    }
 }

.chart-bar { display: flex;
             text-align: center;
             justify-content: center;
             margin-top: 1.2;}
.columnar-stacking { flex-direction: column; }
  .padding-topper{ order: 1; }
  .event-hud { order: 2;
               display: flex; }
    .mystery-console { display: flex;
                       order: 1;
                       margin-left: 0;
                       font-size: 2rem;}
      .party-hud { order: 1; }
      .rules-hud { order: 2;
                   margin-left: 1rem; }
      .manifest-hud { order: 3;
                      margin-left: 1rem; }
    .user-controls { order: 2;
                     font-size: 2rem;
                     margin-left: 7rem;
                     display: flex;}
      .user-hud-toggle { order: 1; }
      .user-status { order: 2;
                    margin-left: 1rem;}
  .bar-divider { order: 3;
                 filter: invert(83%) sepia(12%) saturate(0%) hue-rotate(228deg) brightness(93%) contrast(86%);
                 width: 75%;
                 height: auto;
                 display: block;
                 margin:auto;
                 margin-top: 0.5rem;
                 margin-bottom: 0.4rem;
                }
  .char-ops { order: 4;
              flex-direction: row;
              font-size: 1.4rem; }
    .character-console { display: flex;
                         order: 1; }
      .origin-story-hud { order: 1; }
      .goals-hud { order: 2;
                   margin-left: 0.6rem; }
      .secrets-hud { order: 3;
                     margin-left: 0.6rem; }
      .abilities-hud { order: 4;
                       margin-left: 0.6rem; }
      .connections-hud { order: 5;
                         margin-left: 0.6rem; }
      .notes-hud { order: 6;
                   margin-left: 0.6rem; }
      .sign-out { order: 7;
                  margin-left: 4.6rem; }
  .padding-bottomton {order: 5;
                      font-size: 0.6rem;}
