.other-people-tile {
  margin-bottom: 1rem;
}

.other-people-subcat {
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

.beginner-tips-subcat {
  font-size: 1.4rem;
}

.tips-list {
  margin-left: 0;
}
