.cast-member-tile {
  list-style: none;
}

.symbol-spacing {margin-left: 1rem;}

.char-cast {
  font-family: futura;
  font-weight: light;
  width: 100%;
}

.ledgerlist { margin-left: 0; }

.faction-headings { font-size: 1.4rem; }

.crew-position { margin-left: 0.4rem; }
