.libertania {
  background-image: url("./libertania.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #c0c0c0;
}

.page-heading {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.6rem;
}
    .heading-icon {
      order: 1;
      color: #c0c0c0;
    }
    .heading-text {
      order: 2;
      margin-left: 1rem;
    }

//////////////////////////////////////
.limey {
  font-family: 'Limelight', cursive;
  font-weight: bold;
  color: #c0c0c0;
}

.deco {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  color: #c0c0c0;
}
//////////////////////////////////////

.marg1 {
  margin: 1rem;
}

.marg2 {
  margin: 0 1rem 1rem 1rem;
}

// Here's the css for the Deco Border styling
.contain {
    margin-left: 2rem;
}
    .roman-border {
        position: relative;
        text-decoration: none;
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
    }
        .roman-border span {
          box-sizing: content-box;
          position: absolute;
          border: 1px solid;
          height: 100%;
        }
        .bg-first {
            top: 0;
            left: -4px;
            padding: 0 4px;
            width: 100%;
        }
        .bg-second {
            top: -4px;
            left: 0;
            padding: 4px 0;
            width: 100%;
        }
        .bg-third {
            top: -8px;
            left: 4px;
            padding: 8px 0;
            width: -webkit-calc(100% - 8px);
            width: calc(100% - 8px);
        }
