.goal-index-tile { display: flex; }
  .completion-status { order: 1;
                       color: #c0c0c0;
                       font-size: 1.4rem;}
  .goal-title-and-desc { order: 2;
                         margin-left: 1rem; }

.goal-name {
  font-weight: bold;
}

.mission-accomplice {
  text-decoration: line-through;
}
