.standard-issue {
  background-image: url("./sleuthing.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100% !important;
    justify-content: center;
}

.misnomer {
  width: 100% !important;
  height: auto;
  margin: auto;
  margin-top: 8rem;
}
